// Override / set color variables
$blue: #3399ff;
$orange: #f26c22;
$grey: #d3d3d3;
$nav-bar-underline: #fdbe02;

$primary: $blue;
$secondary: $grey;

// .nav-active {
//   border-bottom: 0.1rem solid $yellow;
// }
.body {
  font-family: 'Noto Sans TC', sans-serif;
}

.rounded-image {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}

.link-image {
  cursor: pointer !important;
}
.home-banner {
  min-height: 60vh;
  background: url("https://images.unsplash.com/photo-1477965131329-0de8fc76b960?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center/cover fixed no-repeat;
  //font-family: 'Kaushan Script', cursive;
  font-family: 'Tangerine', cursive;
  font-size: 64px;
  
}
.home-banner-text {
  position: absolute;  
  top: 50%;                         /* vertical alignment */
  left:70%;
  transform: translate(0%, -50%); /* precise centering; see link below */
  text-align: center
}
.navbar-icons-width {
  max-width: 150px;
}

.router-link-exact-active {
  //your desired design when link is clicked
  //font-weight: 700;
  border-bottom: 0.1rem solid $nav-bar-underline;
}

.navbar-brand {
  font-size: 64px !important;
}

.nav-item {
  font-size: 1.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-weight: bold;
}

// products
// .single-item {
//   transition: all 0.3 linear;
// }

// .single-item :hover{
//   box-shadow: 0 10px 15px black;
// }

// .store-img {
//   transition: all 1s ease-in-out;
// }

// .img-container:hover .store-img {
//   transform: scale(1.2);
// }

.card-img-top {
   width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
//   height: 20vw;
//   object-fit: cover;

}

.item-category {
  font-size: 1.4rem;
}

// .card-img-top {
//   width: 100%;
//   height: 15vw;
//   object-fit: cover;
//   //padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
// }


.original-price {
  text-decoration: line-through;
  padding: 0px;
  font-size: 16px;
}

.price {
  font-size: 22px;
  color: #ff0000;
}

// zoom
 .favorite {
    position: absolute;  
    right: -2px;                        /* horizontal alignment */
    top: 25px;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
}

.selected-image{
  opacity: 1;
}

.selected-image:hover{
  opacity: 0.7;
}
// product

// lens
.lens-title {
 
  font-size: h3;
  
}

.lens-title a.underline {
    text-decoration: none;
}

.lens-card {
  transition: all 1s ease-in-out;
}
.lens-card:hover{
  transform:scale(1.1); 
   cursor: pointer;
}