// Override / set color variables
$blue: #3399ff;
$orange: #f26c22;
$grey: #d3d3d3;
//$nav-bar-underline: #fdbe02;
$nav-bar-underline: white;

$primary: #E91363;
$secondary: yellow;

// .nav-active {
//   border-bottom: 0.1rem solid $yellow;
// }

.body {
  font-family: 'Noto Sans TC', sans-serif;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 8px;  
  padding-right: 8px;
}

h1, h2, h3, .h1, .h2, .h3 {
  color: $primary;
}

.navbar, .header {
  background: $primary;
}

.rounded-image {
    // border-top-left-radius: calc(1.25rem - 1px);
    // border-top-right-radius: calc(1.25rem - 1px);
    border-radius: 2px;
}

.link-image {
  cursor: pointer !important;
}
// .home-banner {
//   min-height: 60vh;
//   background: url("https://hexschool-api.s3.us-west-2.amazonaws.com/custom/WCder4GWlxtPdJmEoUCx8ans8hH4kmRTpSNanchhN3pZKwIi1hFAgD0DzsleEgPg69vW7ybPKqNaB5AjzjZ9Bb2hXeFauHFkVLw8gPHmmyepGwqWJPZq9775gHscg9dZ.jpeg") center/cover fixed no-repeat;
//   //font-family: 'Kaushan Script', cursive;
//   font-family: 'Tangerine', cursive;
//   //font-size: 64px;
  
// }
// .home-banner-brand {
//   min-height: 30vh;
//   background: url("https://hexschool-api.s3.us-west-2.amazonaws.com/custom/xLXGAX8GMvavxlkTKh5q1jpkvQeilf3yyxr17AzsEpeJwAscQtP85q1QPLf0fHNtPaI8vi7mMM1JARMlcKyVGohhziPBcS7kyulUklkwZR5dxpEtn4u9OtDmbRdkDH7j.jpeg") center/cover fixed no-repeat;
//   //height: 218px;
//   //background-size: cover;
// }

// .home-banner-text {
//   // position: absolute;  
//   // top: 50%;                         /* vertical alignment */
//   // left:70%;
//   // transform: translate(0%, -50%); /* precise centering; see link below */
//   // text-align: center
//   position: absolute;
//   top: 70%;
//   left: 85%;
//   width:400px;  
//   transform: translate(-50%, -50%);
//   font-size: 48px;
//   font-weight: bold;
//   color:white;

// }


.home-banner {
  position: relative;
  //max-width: 800px; /* Maximum width */
  //width: 100%;
  //min-height: 20vh;
  //margin: 0 auto; /* Center it */
  //object-fit: cover;
}

.home-banner .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  //background: rgb(0, 0, 0); /* Fallback color */
  //background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  //width: 100%; /* Full width */
  //padding: 20px; /* Some padding */
  top: 30%;
  left: 70%;
}


.home-banner-new {  
  position: relative;
  height: 60vh;
  width: 100%;   
  background-image: url("https://hexschool-api.s3.us-west-2.amazonaws.com/custom/WCder4GWlxtPdJmEoUCx8ans8hH4kmRTpSNanchhN3pZKwIi1hFAgD0DzsleEgPg69vW7ybPKqNaB5AjzjZ9Bb2hXeFauHFkVLw8gPHmmyepGwqWJPZq9775gHscg9dZ.jpeg") center/cover fixed no-repeat;

}

.home-banner-text {
  position: absolute;
  top: 30%;
  left:70%;
}
// .home-banner-text {
//   position: absolute; /* Position the background text */
//   bottom: 0; /* At the bottom. Use top:0 to append it to the top */
//   background: rgb(0, 0, 0); /* Fallback color */
//   background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
//   color: #f1f1f1; /* Grey text */
//   width: 100%; /* Full width */
//   padding: 20px; /* Some padding */
// }


.home-banner-desc {
  // position: absolute;  
  // top: 50%;                         /* vertical alignment */
  // left:70%;
  // transform: translate(0%, -50%); /* precise centering; see link below */
  // text-align: center
  position: absolute;
  top: 20%;
  left: 40%;
  width:400px;  
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: white;

}

@media only screen and (max-width: 992px){ 
  .home-banner-text {
    //top: 50%;
    //left: 60%;
    font-size: 40px;    
  }
}

@media only screen and (max-width: 768px){ 
  .home-banner-text {
    //top: 50%;
    //left: 60%;
    font-size: 32px;
  }
  .home-banner .content {
    top: 10%;
    left: 50%;
  }
}


// @media only screen and (max-width: 576px){ 
//   .home-banner-text {
//     top: 50%;
//     left: 60%;
//     font-size: 24px;
//   }
// }

.navbar-icons-width {
  max-width: 280px;
  min-width: 100px
}

.router-link-exact-active {
  //your desired design when link is clicked
  //font-weight: 700;
  border-bottom: 0.1rem solid $nav-bar-underline;
}

.router-link-exact-active img {
  //your desired design when link is clicked
  //font-weight: 700;
  border-bottom: 0.1rem solid red;
}


.navbar-brand {
  font-size: 64px !important;
}

.nav-item {
  font-size: 1.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-weight: bold;
}

.nav-item .nav-link {
  color: white;
}

// footer

.navbar-brand {
  font-family: "Proza Libre", sans-serif;
  color: seagreen;
  font-weight: 800;
  font-size: 200%;
}

.content {
  min-height: calc(100vh - 227px);
}

// .app {
//   min-height: calc(100vh - 97px);
// }

.footer {
  // height: 30px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: $primary;
  color:white;
  font-size:150%;
}

.product {
 max-width: 1000px;
 margin: 0 auto;
}

.products {
  // background: red;
  box-sizing: border-box;  
}

// .img-container {
//   //height: 250px;
//   width: 370px;
// }

.products-addToCart {
  color: $primary;
  // background: $primary;
  border: $primary solid 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.products-addToCart:hover{
  color: white;
  background: $primary;
}

.product-addToCart {
  color: white;
  background: $primary;
}

.product-addToCart:hover {
  color: white;
  background: red;
}

.card-img-top {
   width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
//   height: 20vw;
//   object-fit: cover;

}

.item-category {
  font-size: 1.4rem;
}

// .card-img-top {
//   width: 100%;
//   height: 15vw;
//   object-fit: cover;
//   //padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
// }


.original-price {
  text-decoration: line-through;
  padding: 0px;
  font-size: 16px;
}

.price {
  font-size: 22px;
  color: #ff0000;
}

// zoom
 .favorite {
    position: absolute;  
    right: -2px;                        /* horizontal alignment */
    top: 25px;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
}

.selected-image{
  opacity: 1;
}

.selected-image:hover{
  opacity: 0.7;
}
// product

// lens
.lens-title {
 
  font-size: h3;
  
}

.lens-title a.underline {
    text-decoration: none;
}

// shopping cart
.shopping-cart-icon {
  color: $primary;
  //border: $primary solid 1px;
  border: none;
  background: white;
}

// .lens-card {
//   transition: all 1s ease-in-out;
// }

// .lens-card:hover{
//   transform:scale(1.1); 
//    cursor: pointer;
// }

// Hot Products
.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
}

// .carousel-control-prev-icon, .carousel-control-next-icon  {
//   border: black solid 1px;
// }

// Price Range

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $primary;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary;
  //border-radius: 1.3px;
  //border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  //border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $primary;
  // border: 0.2px solid #010101;
  // border-radius: 2.6px;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $primary;
  // border: 0.2px solid #010101;
  // border-radius: 2.6px;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  // border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary;
}
input[type=range]:focus::-ms-fill-upper {
  background: $primary;
}